body {
    background-color: rgb(230, 230, 230);
    margin-left: 50px;
    margin-right: 50px;
}
.info-ramme {
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    max-width: 1000px;
}
span.inner-text-border {
    border: 4px solid rgba(100, 100, 100, 0.692);
    background-color: rgb(189, 188, 247);
    padding: 4px;
}
span.outer-text-border {
    border: 3px solid rgb(0, 0, 0);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
span.spacing {
    margin-left: 60px;
}
.overskrift {
    background-image: url("../img/texture-background.avif");
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 3px solid rgb(77, 77, 77);
    max-width: 1700px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}