body {
    background-color: lightgray;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-ramme {
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    max-width: 100%;
    border-radius: 25px;
}

.tekst-ramme {
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    max-width: 100%;
    border-radius: 25px;
    background-color: lightgreen;
}
.bilde-ramme{
    border: 3px solid rgb(0, 0, 0);
    max-width: 100%;
    
    border-radius: 25px;
}

.overskrift {
    background-image: url("../img/texture-background.avif");
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 3px solid rgb(77, 77, 77);
    max-width: 1700px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
    border-radius: 10px;
}
.column {
    float: left;
    width: 48%;
    padding: 10px;
    
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }