body {
    background-color: rgb(230, 230, 230);
    margin-left: 50px;
}
.info-ramme {
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    margin-right: 1100px;
}
span.inner-text-border {
    border: 4px solid rgba(100, 100, 100, 0.692);
}
span.outer-text-border {
    border: 3px solid rgb(0, 0, 0);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}
span.spacing {
    margin-left: 60px;
}
.overskrift {
    background-image: url("img/texture-background.avif");
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-right: 340px;
    border: 3px solid rgb(77, 77, 77);
}