body {
    background-color: rgb(230, 230, 230);
    margin-left: 50px;
}
#ramme {
    border-style: solid ;
    border-width: 2px;
    border-color: brown;
    box-sizing: border-box;
}
span.inner-text-border {
    border: 4px solid rgba(141, 141, 141, 0.692);
    padding: 3px;
}
span.outer-text-border {
    border: 3px solid rgb(0, 0, 0);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}
span.spacing {
    margin-left: 50px;
}